
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<div>
    ASOS is a British online fashion and cosmetic retailer. The company was founded in 2000 in London, primarily aimed at young adults. The website sells over 850 brands as well as its own range of clothing and accessories, and ships to over 200 countries from fulfilment centres in the UK, US and Europe.
    Despite deprecating its original meaning (AsSeenOnScreen), ASOS is still written as an uppercase acronym; the exception to the rule is the new logo designed by Ben Lewin in 2008, where it is stylistically shown all in lower case.
    ASOS' headquarters are in Camden Town, at Greater London House. As of 2013, their main fulfilment centre is in Barnsley, South Yorkshire, where they employ 3,000 workers. The customer care department is based in Leavesden, near Watford, in southwest Hertfordshire.
</div>


